.hero{
    padding: 80px;
    height: 130vh;
    background: #25262a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left{
   
  width: 50%;
}

.hero-left h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #090909;
    font-size:120px;
    font-weight: 700;
    color: white;
    margin-top: -60px;
}
.hero-left  h2 p{
  
    font-size: 28px;
    color: #64f4ab;
    padding: 0px 10px; 
}
.potfolio-text p::after{
    content: "";
    position: relative;
    top:15px;
    left: 18px;
    display: block;
    height: 3px;
    width: 25px;
    background: #64f4ab;
    color: #64f4ab;
}
.hero-left  p{

    color: #ecf2fd;
    font-size: 30px;
    font-weight: 300;
    line-height: 45px;
    margin: -10;
   padding-bottom: 10px;
    
}

.hero-latest-btn button{
    background-color: transparent;
    background-image: linear-gradient(91deg,#fecd1a 0%, #ffaf29 100%);
   color: #25262a;
   padding: 18px 35px;
   font-size: 30px;
   font-weight: 400;
   border-radius: 30px;
   width: 300px;
   height: 90px;
}

.hero-right{
    width: 50%;
  margin: auto;
    align-items: center;
    justify-content: center;
}
.hero-right img{
    top: -200px;
    width: 97%;
    position: absolute;
}
.container {
    right: 30px;
    position: relative;
    width: 900px; /* Adjust the size of the circle */
    height: 900px; /* Adjust the size of the circle */
    background-color: #64f4ab;; /* Adjust the background color */
    border-radius: 50%;
  }
